*{
    padding: 0;
    margin: 0;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-style: normal;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 3px;

}
body{
    background-image: linear-gradient(180deg,#4d4b4b,#111111fa);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}



/* MENU LATERAL EXIBIDO*/
.menu_lateral{
    background-image: url('img/dash_adm/fundopreto.jpg');
    background-attachment:  scroll;
    background-repeat: no-repeat;
   background-size: 70px 70px;
    background-color: black;
    background-position: center 550px;
    
    


    position: fixed;
    width: 60px;    
    border-right:2px solid ;
    border-image: linear-gradient(to bottom,#E5BD40, #EE5E54, #BC669B, #5C55A0) 1;
    box-shadow: 6px 6px 6px #414141bd;
    border-radius: 1PX;
    height: 100%;
    z-index: 10;
    padding-top: 5%;
    padding-left: 0.5%;
    transition: 0.5s;
    
    

    
   
}
/* -------------------------------------------------------------------------------- */


/* 
.menu_lateral i .homemenu{
    display: none;
  
    
    

   

    
} */
/* MENU LATERAL QUANDO ELE ABRE */
.menu_lateral.fecharmenu{
    
    width: 250px;
    transition: 0.5s linear;
    white-space: nowrap;
    background-size: 150px 150px;
    box-shadow: 10px 10px 6px #1b1b1be1;
    transform: translate(1.2);
    z-index: 10;

}




.menu_lateral.fecharmenu i{
    
    display: inline-block;
    vertical-align: middle ;
    
   
    
    
}
.menu_lateral i {
    display: none;
}

/* ----------------------------------------------------- */






/* SUB MENU DO MENU LATERAL */
.submenu{
    display: none;
}
/* ------------------------------------------------------ */

/* CONFIGURAÇÃO IMG HOME MENU LATERAL */

.img_menulateral{
    vertical-align: middle;
    width: 30px;
    transition: 0.3s;
    padding: 8px;
    

}

.img_menulateral:hover{
    transform: scale(1.5);
   
}

/* ANIMAÇÃO LI */
li:hover{
    background-color: rgb(36, 35, 35);
    border-radius: 4px;
    transition: 0.5s;
    
}

li:hover i{
    color: #DC35A9;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
   
  
}


/* ---------------------------------------- */

/* .img_home_dash{
    width: 30px;
    padding-right: 30px;
    transition: 0.5s;
    vertical-align: middle;
   

   
    
}
.img_home_dash:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
} */
/* ------------------------------------- */

/* .img_dash{
    width: 30px;
    padding-right: 30px;
    transition: 0.5s;
    vertical-align: middle;
   

} */

/* .img_dash:hover{
    transform: scale(1.4);
    transition: 0.2s;
    

}
.img_colaborador{
    width: 35px;
    padding-right: 20px;
    transition: 0.5s;
    vertical-align: middle;
   

}

.img_colaborador:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
}

.img_dash_produtos{
    width: 35px;
    padding-right: 20px;
    transition: 0.5s;
    vertical-align: middle
}

.img_dash_produtos:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
}

.img_dash_config{
    width: 35px;
    padding-right: 20px;
    transition: 0.5s;
    vertical-align: middle
}
.img_dash_config:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
} */



/* BOTAO MENU */
.toglle-btn{

margin-left: 10px;
position: fixed;
width: 45px;
height: 45px;
font-size: 20pt;
margin-top: 20px;
background-color: transparent;
color: #dfdddd;
border-radius: 5px;
transition: 0.4s linear;
border: none;
z-index: 11;

}

.toglle-btn:hover{
    cursor: pointer;
}
/* ---------------------------- */

li i:hover{
/* color: #5C55A0; */
transition: 0.2s linear;


   
}
.submenu_produtos{
    display: none;
}

/* .logout-btn {
position: relative;
top: 60px;
padding-left: 2%;
background-color: transparent;
height: 40px;
width: 40px;
border: none;
border-radius: 5px;
cursor: pointer;
} */
.img_logout{
    width: 40px;
    height: 40px;
    transition: 0.2s;
 
   
   
    

}
.img_logout:hover{
    transform: scale(1.2);
    
    transition: 0.2s;
   
}
/* ANIMAÇÃO LETRAS MENULATERAL */

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 100%;
        transform: translateX(20px);
    }



}


i{
    animation: fadein 0.8s forwards ;
}
/* ---------------------------------- */

.logout:hover{
    
    background-color: rgb(36, 35, 35);

}

.logout{
    margin-top: 50px;
}

/* INDENTIFICAÇÃO DE PAGINA ATUAL ATRAVES DO MENU LATERAL */
.selected {
    background: linear-gradient(to left, #e5bc40be, #ee5e54ad, #bc669b9c, #5c55a09f);
    color: white; /* Para garantir que o texto fique legível */
    border-radius: 1px; /* Opcional: arredonda os cantos */
    padding: 1px; /* Opcional: adiciona um pouco de espaçamento interno */
    
}

/* BOAS VINDAS */
.div_boasvindas {
    position: relative;
    top: 50px; /* Ajusta a posição vertical */
    left: 8%;
    
   
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    width: 87%;
    
    /* height: 620px */
    
}

.div_boasvindas p{
    text-align: center;
}


/* GRAFICOS  */

.grafico-produto{
   max-width: 450px;
   max-height: 450px;
   margin-left: 100px;
   position: relative;
  margin-top: 2%;
}

.grafico-colaborador{
    max-width: 450px;
    max-height: 450px;
    left: 60%;
    position: absolute;
    top: 23%;
}

/* LEGENDAS GRAFICOS */

.legenda_grafico_colaborador{
    left: 67%; 
    position: absolute;
    bottom: 85%;
   
  
}
.legenda_grafico_produto{
    position: absolute;
    left: 20%;
    top: 10%;
   
}

