*{
    padding: 0;
    margin: 0;
    color:  #E6E6E6;
    text-decoration: none;
    font-style: normal;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 3.5px;

}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    
}


body{
    background-image: linear-gradient(180deg,#000000,#000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    /* overflow: hidden; */

    width: 100%;
    height: 100%;

    display: flex;
}



/* MENU LATERAL EXIBIDO*/
.menu_lateral{
    /* background-image: url('img/dash_adm/fundopreto.jpg'); */
    background-color: rgb(8, 8, 8);
    
    background-attachment:  scroll;
    background-repeat: no-repeat;
   background-size: 70px 70px;
  
    background-position: center 550px;
    
    height: 100vh;


    position: flex;
    width: 60px;    
    border-right:2px solid ;
    border-image: linear-gradient(to bottom,#E5BD40, #EE5E54, #BC669B, #5C55A0) 1;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.575);

   
    z-index: 10;
    padding-top: 5%;
    padding-left: 0.5%;
    transition: 0.5s;
    
    

    
   
}
/* -------------------------------------------------------------------------------- */

.img-logo{
    z-index: 0;
    display: flex;
    position: fixed;
  

    right:8%;
    top: -3%;
}

.img-logo img{
    width: 130px;
    height: 130px;
    transition: 0.2s linear;

    
}

.img-logo img:hover{
    scale: 1.3;
    cursor: none;
   
    
}
   


/* 
.menu_lateral i .homemenu{
    display: none;
  
    
    

   

    
} */
/* MENU LATERAL QUANDO ELE ABRE */
.menu_lateral.fecharmenu{
    
    width: 250px;
    transition: 0.5s linear;
    white-space: nowrap;
    background-size: 150px 150px;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.575);
    transform: translate(1.2);
    z-index: 10;

}




.menu_lateral.fecharmenu i{
    
    display: inline-block;
    vertical-align: middle ;
    
   
    
    
}
.menu_lateral i {
    display: none;
}

/* ----------------------------------------------------- */






/* SUB MENU DO MENU LATERAL */
.submenu{
    display: none;
}
/* ------------------------------------------------------ */

/* CONFIGURAÇÃO IMG HOME MENU LATERAL */

.img_menulateral{
    vertical-align: middle;
    width: 30px;
    transition: 0.3s;
    padding: 8px;
    

}

.img_menulateral:hover{
    transform: scale(1.5);
   
}

/* ANIMAÇÃO LI */
li:hover{
    background-color: rgb(36, 35, 35);
    border-radius: 4px;
    transition: 0.5s linear;
    
}

li:hover i{
    color: #DC35A9;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
   
  
}


/* ---------------------------------------- */

/* .img_home_dash{
    width: 30px;
    padding-right: 30px;
    transition: 0.5s;
    vertical-align: middle;
   

   
    
}
.img_home_dash:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
} */
/* ------------------------------------- */

/* .img_dash{
    width: 30px;
    padding-right: 30px;
    transition: 0.5s;
    vertical-align: middle;
   

} */

/* .img_dash:hover{
    transform: scale(1.4);
    transition: 0.2s;
    

}
.img_colaborador{
    width: 35px;
    padding-right: 20px;
    transition: 0.5s;
    vertical-align: middle;
   

}

.img_colaborador:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
}

.img_dash_produtos{
    width: 35px;
    padding-right: 20px;
    transition: 0.5s;
    vertical-align: middle
}

.img_dash_produtos:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
}

.img_dash_config{
    width: 35px;
    padding-right: 20px;
    transition: 0.5s;
    vertical-align: middle
}
.img_dash_config:hover{
    transform: scale(1.4);
    transition: 0.2s;
    
} */



/* BOTAO MENU */
.toglle-btn{

margin-left: 10px;
position: absolute;
width: 45px;
height: 45px;
font-size: 20pt;
margin-top: 20px;
background-color: transparent;
color: #dfdddd;
border-radius: 5px;
transition: 0.4s linear;
border: none;
z-index: 11;

}

.toglle-btn:hover{
    cursor: pointer;
}
/* ---------------------------- */

li i:hover{
/* color: #5C55A0; */
transition: 0.2s linear;


   
}
.submenu_produtos{
    display: none;
}

/* .logout-btn {
position: relative;
top: 60px;
padding-left: 2%;
background-color: transparent;
height: 40px;
width: 40px;
border: none;
border-radius: 5px;
cursor: pointer;
} */
.img_logout{
    width: 40px;
    height: 40px;
    transition: 0.2s;
 
   
   
    

}
.img_logout:hover{
    transform: scale(1.2);
    
    transition: 0.2s;
   
}
/* ANIMAÇÃO LETRAS MENULATERAL */

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 100%;
        transform: translateX(20px);
    }



}


i{
    animation: fadein 0.8s forwards ;
}
/* ---------------------------------- */

.logout:hover{
    
    background-color: rgb(36, 35, 35);

}

.logout{
    margin-top: 50px;
}

/* INDENTIFICAÇÃO DE PAGINA ATUAL ATRAVES DO MENU LATERAL */
.selected {
    background: linear-gradient(to left, #e5bc40be, #ee5e54ad, #bc669b9c, #5c55a09f);
    color: white; /* Para garantir que o texto fique legível */
    border-radius: 1px; /* Opcional: arredonda os cantos */
    padding: 1px; /* Opcional: adiciona um pouco de espaçamento interno */
    
}

/* BOAS VINDAS */
.div_boasvindas {
    position: relative;
    top: 50px; /* Ajusta a posição vertical */
    left: 1%;
    
   
    
    padding: 1px;
    z-index: 1;
    width: 87%;
    
    /* height: 620px */
    
}

.div_boasvindas p{
    text-align: center;
}

.div_boasvindas i{
    
}


/* GRAFICOS  */

.grafico-produto{
   max-width: 500px;
   max-height: 500px;
   margin-left: 2%;
   position: relative;
  margin-top: 13.5%;
  display: flex;

}

.grafico-colaborador{
    max-width: 500px;
    max-height: 500px;
    left: 50%;
    position: absolute;
    top: 27%;
    
    display: flex;
}

/* LEGENDAS GRAFICOS */

.legenda_grafico_colaborador{
    left: 55%; 
    position: absolute;
    bottom: 79%;
   
  
}
.legenda_grafico_produto{
    position: absolute;
    left: 9%;
    top: 18.5%;

    
    
   
}


.div_boasvindas form{
    top: 6%;
    position: absolute;
    padding-left: 5%;
    
}


.opcoes-filtros{
    
    color: #ffffff;
    border: 10px transparent;
    background-color:  rgb(20, 20, 20);
    border-radius: 10px;
    font-size: 8.5pt;
   
    text-align: center;
    height: 25px;
    transition:  0.3s linear;
    width: 260px; 
    position: fixed;
    

   
}

.opcoes-filtros:focus{
    
    box-shadow: 0 0 8px #5D32A0 ;

   
}
.opcoes-filtros:hover{
    cursor: pointer;
    box-shadow: 0 0 8px #EB5E58;
}



/* BOTÃO APLICAR FILTRO */

.aplicar-filtro{
   
    position: relative;
    
    width: 0px;
    border: none;
  
  
    
}

/* IMG  BOTÃO FILTRO */
.aplicar-filtro img{
   
    position: relative;
    left: 700px;
   display: block;
   width: 50px;
   transition: 0.3s linear;
   bottom: 6px;
   
    
  
    
}




.aplicar-filtro img:hover{
   transform: scale(1.3);
   cursor: pointer;

}
/* INPUT DATAS */

.data-i{
    position: relative;
    left:120Px;
    top: 33px;
   
} 

.data-fim{
    position: relative;
    left: 600px;
    bottom: 25px;


}


/* INPUT DATAS */

input{
   
   background-color: rgb(20, 20, 20);

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   font-size: 12px;
   font-style: normal;

   
   height: 20px;
   
   border-radius: 10px;
 
   border: 4px solid transparent;
   transition: 0.3s linear;
} 



input:focus{
   
    outline: none;
    box-shadow: 0 0 8px #460ba5;
 } 

 input:hover{
 box-shadow: 0 0 8px #EB5E58;}



 /* FOOTER(FIM DE PÁGINA) */

 .legenda_footer {
    top: 15%;
    position: fixed;
    writing-mode: vertical-lr;
    text-orientation: upright;
    left: 96%;
    z-index: 10;
    transition: 0.3s linear  ;
    filter: opacity(60%);
    background-image:  linear-gradient(to bottom , #e5bc40cb, #EE5E54, #BC669B, #5C55A0);
   
   
    
  

    
    
 }

 .legenda_footer p{
    letter-spacing: 10px;
     box-shadow: 0 0 8px red; 
    width: 20px;
   padding-left: 7px;
   
   
   padding-top: 6px;
   border:2px solid ;
   border-image: linear-gradient(to bottom,#e5bc40cb, #EE5E54, #BC669B, #5C55A0) 1;

   font-size: 7pt;
   font-weight: bolder;
  

    
  


  

 }

 .legenda_footer:hover{
   transform: scale(1.1);
   cursor: none;
   filter: opacity(100%)
 }